.surf1{
  background: no-repeat url(img/surf1.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  }

.card img{
    height: 350px;
    width: auto;
  }

  .img2{
    object-fit: cover;
  }